<div class="jumbotron">
    <div class="container" id="container">
        <div class="card">
            <div class="card-text-center">
                <div class="card-header">
                    <h1>Quotes of The Century</h1>
                </div>
                <div *ngFor='let quote of quotes;let i = index' class="card-body">
                    <div class="card-text">
                        <p id={{i}} class="card-title">"{{quote.description}}" ~ {{quote.completeDate|date}}</p>
                        <button (click)='toggleDetails(i)' class="btn btn-info">View Quote</button>
                        <hr style="height:2px;border-width:0;color:gray;background-color:gray" noshade="shade">
                    </div>

                    <div class="card-text" *ngIf='quote.showDescription'>
                        <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <app-ng-vote></app-ng-vote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-mat-form-field (addQuote)="addNewQuote($event)"></app-mat-form-field>

        </div>
    </div>
</div>